.HomeContainer {
  padding-left: 12%;
  padding-right: 12%;
}

.HomeContainer > .image-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 70rem;
}
