.ImageContainer {
  width: 15rem;
  height: 20rem;
  border: 1px black solid;
  border-radius: 5%;
  margin: 1rem 1rem;
}

.ImageContainer .image {
  width: 80%;
  height: 68%;
  padding-top: 10%;
  margin: auto;
}

.ImageContainer .image img {
  max-height: 100%;
  max-width: 100%;
}
